<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navigation/navbar}"></th:block>
        <!--<script th:src="@{/js/BoatFormValidation.js}"></script>-->
    </header>
    <main>
        <h1 style="margin-top: 20px" class="text-center">Add charter</h1>
        <h1 class="text-center">Step 1 of 2</h1>

        <form th:action="@{/charters/select-boat}" method="post" th:object="${bindingModel}">
            <th:block th:include="~{charters/charter-form}"></th:block>
            <button class="btn boats-background-background">Next</button>
        </form>

    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
<!--<script>-->
    <!--validFormScript();-->
<!--</script>-->

</body>
</html>