<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment>

    <div class="form-group">
        <label for="inputStartDate">Start date</label>
        <input type="date" class="form-control" th:field="*{startDate}" id="inputStartDate"
               placeholder="Date">
        <small id="dateHelp" style="display: none" class="form-text text-muted"></small>
    </div>


    <!--<div class="form-group">-->
        <!--<label for="inputBoatName">Select boat</label>-->
        <!--<select class="form-control" id="inputBoatName">-->
            <!--<option th:each="boat : ${boats}" th:value="${boat.id}" th:text="${boat.boatName}"></option>-->
        <!--</select>-->
    <!--</div>-->


    <div class="form-group">
        <label for="inputDestinationName">Select Direction</label>
        <select class="form-control" id="inputDestinationName" name="id">
            <option th:each="direction : ${bindingModel.directions}" th:value="${direction.id}"
                    th:text="${direction.destination}"></option>
        </select>
    </div>


    <!--<span th:each="dir : ${bindingModel.directions}" th:text="${dir.id + dir.destination}"></span>-->






    <!--todo отива накрая при цената-->
    <!--<div class="form-group">-->
        <!--<label for="inputCustomerName">Select Customer</label>-->
        <!--<select class="form-control" id="inputCustomerName">-->
            <!--<option th:each="people : ${peoples}" th:value="${people.id}" th:text="${people.firstName + ' ' + people.lastName}">-->
            <!--</option>-->
        <!--</select>-->
    <!--</div>-->


    <!--<div class="form-group">-->
        <!--<label for="inputCharterPrice">Price per week</label>-->
        <!--<input type="number" step="0.01" th:field="*{price}" class="form-control" id="inputCharterPrice"-->
               <!--placeholder="Min 0.01">-->
        <!--<small id="priceHelp" style="display: none" class="form-text text-muted"></small>-->
    <!--</div>-->
</th:block>