<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navigation/navbar}"></th:block>
    </header>
    <main>
        <form th:action="@{/boats/edit/{id}(id = ${model.id})}" method="post" th:object="${model}">

            <div class="form-group">
                <h1>Edit Boat <strong th:text="*{name}"></strong></h1>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'text-danger'">
                <label for="inputBoatName">Name</label>

                <input type="text" th:field="*{name}" class="form-control" id="inputBoatName"
                       placeholder="Name">
                <small id="nameHelp" th:each="error : ${#fields.errors('name')}" th:text="${error}"></small>
            </div>


            <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'text-danger'">
                <label for="inputBoatProducer">Producer</label>

                <input type="text" th:field="*{producer}" class="form-control" id="inputBoatProducer"
                       th:disabled="${model.producer}">
            </div>


            <button class="btn btn-outline-secondary">Save</button>


        </form>
    </main>

    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>