<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navigation/navbar}"></th:block>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <table class="table">
                        <tr>
                            <td>Boat name:</td>
                            <td th:text="${model.name}"></td>
                        </tr>
                        <tr>
                            <td>Producer:</td>
                            <td th:text="${model.producer}"></td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td th:text="${model.model}"></td>
                        </tr>
                        <tr>
                            <td>Number of cabins:</td>
                            <td th:text="${model.cabins}"></td>
                        </tr>
                        <tr>
                            <td>Number of toilets:</td>
                            <td th:text="${model.toilets}"></td>
                        </tr>
                        <tr>
                            <td>Draft (m):</td>
                            <td th:text="${model.draft}"></td>
                        </tr>
                        <tr>
                            <td>Volume of water tank (L):</td>
                            <td th:text="${model.waterTank}"></td>
                        </tr>
                        <tr>
                            <td>Volume of fuel tank (L):</td>
                            <td th:text="${model.fuelTank}"></td>
                        </tr>
                        <tr>
                            <td>Date of last check:</td>
                            <td th:text="${#dates.format(model.lastCheckedDate, 'dd-MMM-yyyy')}"></td>
                        </tr>
                        <tr>
                            <td>Price (EUR):</td>
                            <td th:text="${model.price}"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <img src="https://cdn.nautal.com/media/boats/537/x/537272.jpg" class="img-fluid">
                </div>
            </div>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <a class="btn btn-danger"
                   th:href="@{/boats/edit/{id}(id=${model.id})}" style="margin-bottom: 30px">Edit boat details</a>
            </th:block>
            <div class="row">
                    <h3 style="margin-top: 15px">Equipment:</h3>
                <table class="table" id="boatEquipment">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Item:</th>
                        <th>Serial Number:</th>
                        <th>Date of last check:</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, iter : ${boatEquipments}">
                        <td th:text="${iter.index} + 1"></td>
                        <td th:text="${item.item}"></td>
                        <td th:text="${item.serialNumber}"></td>
                        <td th:text="${#dates.format(item.lastCheckedDate, 'dd-MMM-yyyy')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>