<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navigation/navbar}"></th:block>
        <script>
            $(document).ready(function() {
                $('#allBoats').DataTable();
            } );
        </script>
    </header>
    <main>
        <h1 style="margin-top: 20px" class="text-center">Boats</h1>

        <table class="table" id="allBoats">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Producer</th>
                <th>Model</th>
                <th>Last checked date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="boat, iter : ${boats}">
                <td th:text="${iter.index} + 1" ></td>
                <td th:text="${boat.name}" class="item"></td>
                <td th:text="${boat.producer}"></td>
                <td th:text="${boat.model}"></td>
                <td th:text="${#dates.format(boat.lastCheckedDate, 'yyyy-MM-dd')}"></td>
                <td>
                    <a class="btn btn-outline-secondary"
                       th:href="@{/boats/details/{id}(id=${boat.id})}" th:text="Details"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>