<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navigation/navbar}"></th:block>
        <script>
            $(document).ready(function() {
                $('#allDirections').DataTable();
            } );
        </script>
    </header>
    <main>
        <h1 style="margin-top: 20px" class="text-center">Directions</h1>

        <table class="table" id="allDirections">
            <thead>
            <tr>
                <th>#</th>
                <th>Destination</th>
                <th>Distance</th>
                <th>Period</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="direction, iter : ${directions}">
                <td th:text="${iter.index} + 1" ></td>
                <td th:text="${direction.destination}" class="item"></td>
                <td th:text="${direction.distance}"></td>
                <td th:text="${direction.period}"></td>
                <td th:text="${direction.price}"></td>
                <td>
                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn btn-outline-secondary"
                           th:href="@{/directions/edit/{id}(id=${direction.id})}" th:text="Edit"></a>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>