.boats-background{
    background-color: #117a8b;
    color: white;
}


hr.hr-2 {
    height: 2px;
}

.logout-button {
    background: transparent;
    border: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 1) !important;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:focus {
    outline: none;
}

img.img-thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    max-width: 40px;
    max-height: 40px;
}

.homePageCharter{
    margin: 0;
    font-weight: bold;
}

.homePageCharter span{
    font-weight: normal;
}

.contract{
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    line-height: 1.2;
}

.contract p{
    margin: 0;
}

footer{
    border-radius: 8px;
}

nav{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}