<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navigation/navbar}"></th:block>
    </header>
    <main>
        <div class="jumbotron boats-background-back mt-4">
            <!--<h2 th:text="|Hello, ${#authentication.getPrincipal().getUsername()}|"></h2>-->
            <h3 style="margin-top: 20px" >Today's active charters is:</h3>
            <hr/>

            <th:block th:each="charter, iter : ${charters}">
                <div class="row>">
                    <p th:text="|Boat: ${charter.getBoatName()}|" class="item"></p>
                </div>

                <div class="row>">
                    <p th:text="|Customer: ${charter.getCustomerName()}|" class="item"></p>
                </div>

                <div class="row>">
                    <p th:text="|Destination: ${charter.getDestination()}|" class="item"></p>
                </div>

                <div class="row>">
                    <p th:text="|Date of return: ${#dates.format(charter.getEndDate(), 'dd.MM.yyyy')}|" class="item"></p>
                </div>
                <hr/>
            </th:block>
        </div>
    </main>

    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>