<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navigation/navbar}"></th:block>
    </header>

    <main>
        <div class="jumbotron boats-background-background mt-4">
            <!--<h1 th:text="|Hello, ${username}|"></h1>-->
            <h1>It's Work</h1>
            <hr/>
        </div>
    </main>

    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>