<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navigation/navbar}"></th:block>
    </header>
    <main>
        <div class="jumbotron boats-background-back mt-4">
            <!--<h2 th:text="|Hello, ${#authentication.getPrincipal().getUsername()}|"></h2>-->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2 style="margin-top: 20px">Active charters:</h2>
                        <hr/>
                        <th:block th:each="charter, iter : ${charters}">
                            <p class="homePageCharter">Boat: <span class="boatIndex"
                                                                   th:text="${charter.getBoatName()}"></span></p>
                            <p class="homePageCharter">Customer: <span th:text="${charter.getCustomerName()}"></span>
                            </p>
                            <p class="homePageCharter">Destination: <span th:text="${charter.getDestination()}"></span>
                            </p>
                            <p class="homePageCharter">Date of return: <span
                                    th:text="${#dates.format(charter.getEndDate(), 'dd.MM.yyyy')}"></span></p>
                            <hr/>
                        </th:block>
                    </div>
                    <div class="col-md-6">
                        <h2 style="margin-top: 20px">Boats near to technical check date:</h2>
                        <hr/>

                        <th:block th:each="boat, iter : ${boatsToCheck}">
                            <div class="row>">
                                <a th:href="@{/boats/details/{id}(id=${boat.getId()})}"
                                   th:text="${boat.getBoatName()}" class="item"></a>
                            </div>
                            <div class="row>">
                                <p th:text="|Last checked date: ${#dates.format(boat.getLastCheckedDate(), 'dd.MM.yyyy')}|"
                                   class="item"></p>
                            </div>
                            <hr/>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>