<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navigation/navbar}"></th:block>
    </header>

    <main>
        <div class="jumbotron boats-background-background mt-4">
            <form th:action="@{/users/register}" method="post">

                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername"
                           placeholder="Enter username" name="username">
                </div>

                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword"
                           placeholder="Password" name="password">
                </div>

                <div class="form-group">
                    <label for="inputConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="inputConfirmPassword"
                           placeholder="Confirm Password" name="confirmPassword">
                </div>

                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail"
                           placeholder="Enter email" name="email">
                </div>

                <button type="submit" class="btn boats-background">Register</button>
            </form>
        </div>
    </main>

    <footer>
        <th:block th:include="~{fragments/footer}"></th:block>
    </footer>
</div>
</body>
</html>